extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Sam Costanzo

        p.lead.text-light
          |Full Stack JavaScript Developer  

        .portfolio-bio
          p My developer story is much different than most. My academic background is not the traditional path of a Computer Science degree, but as a classically trained musician. I am a graduate of the Crane School of Music at SUNY Potsdam, and currently a professor and private teacher of music in the Syracuse, NY area. 
          
          p With over ten years of professional musical experince and training, I have developed a strong set of skills that very much overlap with and contribute the code I write. The focus and disipline I have developed from practicing many hours per day, preparing for recitals, and learning how to practice effectivley, have given me an advantage in being a self taught developer. Teaching yourself is not easy, but I sincerely believe that with strong habbits, good resources, and a love for building things that can help others, anyone can learn these skills if they stick with it and don't give up.   
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li jQuery
          li Node/Express/Pug 
          li React
        h6 Contact Info

        ul
          li 315-877-4578
          li samcostanzo25@gmail.com
        a.button.expanded(href='https://www.linkedin.com/in/sam-costanzo-349277163/', target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/SamCostanzo', target='_blank') GitHub
        a.button.expanded(href='https://twitter.com/Sam__Costanzo', target='_blank') Twitter
        a.button.expanded(href='https://medium.com/@samcostanzo25', target='_blank') Blog
        a.button.expanded(href='static/img/resume.pdf', target='_blank') Resume
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  




  