extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Sam Costanzo

        p.lead.text-light
          |Full Stack JavaScript Developer  

        .portfolio-bio
          p I have a B.M and M.M in Music performance and Music Theory from the Crane School of Music at SUNY Potsdam. I'm currently an adjunct professor at Utica College and part time music teacher. I'm also a self-taught developer Looking for a junior role in the Syracuse New York area. Let's connect!
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li jQuery
          li NodeJS/Express/Pug 
          li React
        h6 Contact Info

        ul
          li 315-877-4578
          li samcostanzo25@gmail.com
        a.button.expanded(href='https://www.linkedin.com/in/sam-costanzo-349277163/', target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/SamCostanzo', target='_blank') GitHub
        a.button.expanded(href='https://twitter.com/Sam__Costanzo', target='_blank') Twitter
        a.button.expanded(href='https://medium.com/@samcostanzo25', target='_blank') Blog
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  




  